doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    title Convertisseur | Besoin de convertir, pas de soucis
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    link(rel='stylesheet' href='stylesheets/style.css')
  .container
    header#masthead.site-header
      .site-branding
        h1.site-title
          a(href='/' rel='home') Convertisseur
        h2.site-description Besoin de convertir, pas de soucis
      nav#site-navigation.main-navigation
        button.menu-toggle Menu
        a.skip-link.screen-reader-text(href='/') Aller au contenu
        .menu-menu-1-container
          ul#menu-menu-1.menu.nav-menu
            li
              a(href='/') Home
            li
              a(href='/') Convertisseurs
              ul.sub-menu
                li
                  a(href='/jpg') PNG vers JPG
                li
                  a(href='/png') JPG vers PNG
                li
                  a(href='/csv') JSON vers CSV
                li
                  a(href='/gif') MP4 vers GIF
                li
                  a(href='/webp') WEBP vers PNG
                li
                  a(href='/fusion') Fusionner des PDF
  body
    .header
      .main
        .home-title
          h1.title Convertisseur c'est tous les outils nécessaires de conversion regrouper en un endroit !
          h2.subtitle
            | Convertisseur vous propose plusieurs outils de conversion de fichier, vous pouvez par exemple convertir une image qui a un format png en jpg, ou bien même un fichier json en csv pour l'utiliser sur votre tableur préféré. Convertisseur propose aussi la conversion de vidéos, document, etc ...
        .tools
          .tools__container
            .tools__item
              a(href='/jpg' title='PNG en JPG' )
                .tools__item__icon
                  img(alt='pngtojpg' src='/images/PNG_to_JPG.png', width='50', height='50')
                h3 PNG en JPG
                .tools__item__content
                  p
                    | Convertissez facilement vos images PNG en format JPG.
            .tools__item
              .badge.badge--new Nouveau !
              a(href='/png' title='JPG en PNG')
                .tools__item__icon
                  img(alt='jpgtopng' src='/images/JPG_to_PNG.png', width='50', height='50')
                h3 JPG en PNG
                .tools__item__content
                  p
                    | Convertissez facilement vos images JPG en format PNG.
            .tools__item
              a(href='/csv' title='JSON en CSV')
                .tools__item__icon
                  img(alt='jsontocsv' src='/images/JSON_to_CSV.png', width='50', height='50')
                h3 JSON en CSV
                .tools__item__content
                  p
                    | Convertissez facilement vos fichiers JSON en fichier csv.
            .tools__item
              .badge.badge--pasdispo PAS DISPONIBLE !
              a(href='/' title='PDF en Word')
                .tools__item__icon
                  img(alt='pdftodoc' src='/images/PDF_to_DOCX.png', width='50', height='50')
                h3 PDF en Word
                .tools__item__content
                  p
                    | Convertissez facilement vos fichiers PDF en documents DOC et DOCX faciles à éditer.
            .tools__item
              a(href='/gif' title='MP4 en GIF')
                .tools__item__icon
                  img(alt='mp4togif' src='/images/MP4_to_GIF.png', width='50', height='50')
                h3 MP4 en GIF
                .tools__item__content
                  p
                  | Convertissez facilement vos vidéos MP4 en GIF.
            .tools__item
              a(href='/webp' title='WEBP en PNG')
                .tools__item__icon
                  img(alt='webptopng' src='/images/WEBP_to_PNG.png', width='50', height='50')
                h3 WEBP en PNG
                .tools__item__content
                  p
                    | Convertissez facilement vos fichiers WEBP en image PNG.
            .tools__item
              .badge.badge--new Nouveau !
              a(href='/fusion' title='Fusionner vos PDF')
                .tools__item__icon
                  img(alt='soon' src='/images/soon.png', width='50', height='50')
                h3 Fusionner vos PDF
                .tools__item__content
                  p
                    | Fusionner facilement plusieurs fichiers PDF en un seul fichier.
            .tools__item
              .badge.badge--soon SOON !
              a(href='/' title='Pas défini')
                .tools__item__icon
                  img(alt='soon' src='/images/soon.png', width='50', height='50')
                h3 Pas défini
                .tools__item__content
                  p
                    | Pas défini
            .tools__item
              .badge.badge--soon SOON !
              a(href='/' title='Pas défini')
                .tools__item__icon
                  img(alt='soon' src='/images/soon.png', width='50', height='50')
                h3 Pas défini
                .tools__item__content
                  p
                    | Pas défini
            .tools__item
              .badge.badge--soon SOON !
              a(href='/' title='Pas défini')
                .tools__item__icon
                  img(alt='soon' src='/images/soon.png', width='50', height='50')
                h3 Pas défini
                .tools__item__content
                  p
                    | Pas défini
            .tools__item
              .badge.badge--soon SOON !
              a(href='/' title='Pas défini')
                .tools__item__icon
                  img(alt='soon' src='/images/soon.png', width='50', height='50')
                h3 Pas défini
                .tools__item__content
                  p
                    | Pas défini
    footer#colophon.site-footer-home
      .container
        .site-info
          h1(style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;") Convertisseur
          a(target='blank' href='/') © Convertisseur - Site by LysnakeIT
