<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Convertisseur | Besoin de convertir, pas de soucis</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Site de conversion de fichiers d'un format à un autre">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="icon" href="/images/logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <h1><img src="/images/logo.png" alt="Logo du site" width="65px" height="65px"><strong style="color: white ;">Convertisseur</strong></h1>
      </a>
    </div>
  </nav>
    <section class="banner mt-5">
      <div class="banner-card">
        <img src="/images/contact.png" class="banner-img" alt="Banniere"> 
        <div class="card-content">
          <div class="card-info"></div>
        </div>
      </div>
    </section>
    <div class="tools mb-5">
      <div class="tools__container">
        <div class="container-fluid">
          <div class="px-lg-5 mt-5">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <a href="/jpg">
                  <div class="bg-white rounded-10 shadow-sm"><img src="/images/PNG_to_JPG.png" class="img-fluid card-img-top" alt="Conversion de png vers jpg">
                    <div class="p-4">
                      <h5>PNG en JPG</h5>
                      <p class="small text-muted mb-0">Convertissez facilement vos images PNG en format JPG.</p>
                      <div class="d-flex align-items-center justify-content-between rounded-pill span-color px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold text-white">PNG --> JPG</span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <a href="/png">
                  <div class="bg-white rounded-10 shadow-sm"><img src="/images/JPG_to_PNG.png" class="card-img-top" alt="Conversion de jpg vers png">
                    <div class="p-4">
                      <h5>JPG en PNG</h5>
                      <p class="small text-muted mb-0">Convertissez facilement vos images JPG en format PNG.</p>
                      <div class="d-flex align-items-center justify-content-between rounded-pill span-color px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold text-white">JPG --> PNG</span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <a href="/csv">
                  <div class="bg-white rounded-10 shadow-sm"><img src="/images/JSON_to_CSV.png" class="card-img-top" alt="Conversion de json vers csv">
                    <div class="p-4">
                      <h5>JSON en CSV</h5>
                      <p class="small text-muted mb-0">Convertissez facilement vos fichiers JSON en fichier csv.</p>
                      <div class="d-flex align-items-center justify-content-between rounded-pill span-color px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold text-white">JSON --> CSV</span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <a href="/">
                  <div class="bg-white rounded-10 shadow-sm"><img src="/images/PDF_to_DOCX.png" class="card-img-top" alt="Conversion de pdf vers docx">
                    <div class="p-4">
                      <h5>PDF en Word</h5>
                      <p class="small text-muted mb-0">Convertissez facilement vos fichiers PDF en DOCX.
                      </p>
                      <div class="d-flex align-items-center justify-content-between rounded-pill span-color px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold text-white">PDF --> WORD</span></p>
                        <div class="badge rounded-pill bg-danger px-3 font-weight-normal">Disabled</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <a href="/gif">
                  <div class="bg-white rounded-10 shadow-sm"><img src="/images/MP4_to_GIF.png" class="card-img-top" alt="Conversion de mp4 vers gif">
                    <div class="p-4">
                      <h5>MP4 EN GIF</h5>
                      <p class="small text-muted mb-0">Convertissez facilement vos vidéos MP4 en GIF.</p>
                      <div class="d-flex align-items-center justify-content-between rounded-pill span-color px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold text-white">MP4 --> GIF</span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <a href="/webp">
                  <div class="bg-white rounded-10 shadow-sm"><img src="/images/WEBP_to_PNG.png" class="card-img-top" alt="Conversion de webp vers png">
                    <div class="p-4">
                      <h5>WEBP en PNG</h5>
                      <p class="small text-muted mb-0">Convertissez facilement vos fichiers WEBP en image PNG.</p>
                      <div class="d-flex align-items-center justify-content-between rounded-pill span-color px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold text-white">WEBP --> PNG</span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <a href="/fusion">
                  <div class="bg-white rounded-10 shadow-sm"><img src="/images/Fusion_pdf.png" class="card-img-top" alt="Fusion de pdf">
                    <div class="p-4">
                      <h5>Fusionner vos PDF</h5>
                      <p class="small text-muted mb-0">Fusionner facilement plusieurs fichiers PDF en un seul fichier.</p>
                      <div class="d-flex align-items-center justify-content-between rounded-pill span-color px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold text-white">Fusion PDF</span></p>
                        <div class="badge rounded-pill bg-success px-3 font-weight-normal">Nouveau</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <a href="/encrypt">
                  <div class="bg-white rounded-10 shadow-sm"><img src="/images/secure_pdf.png" class="card-img-top" alt="Protéger un pdf">
                    <div class="p-4">
                      <h5>Protéger le fichier PDF</h5>
                      <p class="small text-muted mb-0">Mettre un mot de passe à votre fichier PDF</p>
                      <div class="d-flex align-items-center justify-content-between rounded-pill span-color px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold text-white">Encrypt PDF</span></p>
                        <div class="badge rounded-pill bg-success px-3 font-weight-normal">Nouveau</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <a href="/ico">
                  <div class="bg-white rounded-10 shadow-sm"><img src="/images/PNG_to_ICO.png" class="card-img-top" alt="Conversion de png vers ico">
                    <div class="p-4">
                      <h5>PNG en ICO</h5>
                      <p class="small text-muted mb-0">Convertissez facilement vos fichiers PNG en icon ICO.</p>
                      <div class="d-flex align-items-center justify-content-between rounded-pill span-color px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold text-white">PNG --> ICO</span></p>
                        <div class="badge rounded-pill bg-success px-3 font-weight-normal">Nouveau</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>