<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Convertisseur | Besoin de convertir, pas de soucis</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <div class="container">
    <header class="site-header" id="masthead">
      <div class="site-branding">
        <h1 class="site-title"><a href="/" rel="home">Convertisseur</a></h1>
        <h2 class="site-description">Besoin de convertir, pas de soucis</h2>
      </div>
      <nav class="main-navigation" id="site-navigation">
        <button class="menu-toggle">Menu</button><a class="skip-link screen-reader-text" href="/">Aller au contenu</a>
        <div class="menu-menu-1-container">
          <ul class="menu nav-menu" id="menu-menu-1">
            <li><a href="/">Home</a></li>
            <li><a href="/">Convertisseurs</a>
              <ul class="sub-menu">
                <li><a href="/jpg">PNG vers JPG</a></li>
                <li><a href="/png">JPG vers PNG</a></li>
                <li><a href="/csv">JSON vers CSV</a></li>
                <li><a href="/gif">MP4 vers GIF</a></li>
                <li><a href="/webp">WEBP vers PNG</a></li>
                <li><a href="/fusion">Fusionner des PDF</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
  <body>
    <div class="header">
      <div class="main">
        <div class="home-title">
          <h1 class="title">Convertisseur c'est tous les outils nécessaires de conversion regrouper en un endroit !</h1>
          <h2 class="subtitle">Convertisseur vous propose plusieurs outils de conversion de fichier, vous pouvez par exemple convertir une image qui a un format png en jpg, ou bien même un fichier json en csv pour l'utiliser sur votre tableur préféré. Convertisseur propose aussi la conversion de vidéos, document, etc ...</h2>
        </div>
        <div class="tools">
          <div class="tools__container">
            <div class="tools__item"><a href="/jpg" title="PNG en JPG">
                <div class="tools__item__icon"><img alt="pngtojpg" src="/images/PNG_to_JPG.png" width="50" height="50"></div>
                <h3>PNG en JPG</h3>
                <div class="tools__item__content">
                  <p>Convertissez facilement vos images PNG en format JPG.</p>
                </div></a></div>
            <div class="tools__item">
              <div class="badge badge--new">Nouveau !</div><a href="/png" title="JPG en PNG">
                <div class="tools__item__icon"><img alt="jpgtopng" src="/images/JPG_to_PNG.png" width="50" height="50"></div>
                <h3>JPG en PNG</h3>
                <div class="tools__item__content">
                  <p>Convertissez facilement vos images JPG en format PNG.</p>
                </div></a>
            </div>
            <div class="tools__item"><a href="/csv" title="JSON en CSV">
                <div class="tools__item__icon"><img alt="jsontocsv" src="/images/JSON_to_CSV.png" width="50" height="50"></div>
                <h3>JSON en CSV</h3>
                <div class="tools__item__content">
                  <p>Convertissez facilement vos fichiers JSON en fichier csv.</p>
                </div></a></div>
            <div class="tools__item">
              <div class="badge badge--pasdispo">PAS DISPONIBLE !</div><a href="/" title="PDF en Word">
                <div class="tools__item__icon"><img alt="pdftodoc" src="/images/PDF_to_DOCX.png" width="50" height="50"></div>
                <h3>PDF en Word</h3>
                <div class="tools__item__content">
                  <p>Convertissez facilement vos fichiers PDF en documents DOC et DOCX faciles à éditer.</p>
                </div></a>
            </div>
            <div class="tools__item"><a href="/gif" title="MP4 en GIF">
                <div class="tools__item__icon"><img alt="mp4togif" src="/images/MP4_to_GIF.png" width="50" height="50"></div>
                <h3>MP4 en GIF</h3>
                <div class="tools__item__content">
                  <p></p>Convertissez facilement vos vidéos MP4 en GIF.
                </div></a></div>
            <div class="tools__item"><a href="/webp" title="WEBP en PNG">
                <div class="tools__item__icon"><img alt="webptopng" src="/images/WEBP_to_PNG.png" width="50" height="50"></div>
                <h3>WEBP en PNG</h3>
                <div class="tools__item__content">
                  <p>Convertissez facilement vos fichiers WEBP en image PNG.</p>
                </div></a></div>
            <div class="tools__item">
              <div class="badge badge--new">Nouveau !</div><a href="/fusion" title="Fusionner vos PDF">
                <div class="tools__item__icon"><img alt="soon" src="/images/Fusion_pdf.png" width="50" height="50"></div>
                <h3>Fusionner vos PDF</h3>
                <div class="tools__item__content">
                  <p>Fusionner facilement plusieurs fichiers PDF en un seul fichier.</p>
                </div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer-home" id="colophon">
      <div class="container">
        <div class="site-info">
          <h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px">Convertisseur</h1><a target="blank" href="/">© Convertisseur - Site by LysnakeIT</a>
        </div>
      </div>
    </footer>
  </body>
</html>