doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        title Convertisseur | Besoin de convertir, pas de soucis
        meta(content='width=device-width, initial-scale=1.0' name='viewport')
        link(rel='stylesheet' href='stylesheets/style.css')
    .container
        header#masthead.site-header
            .site-branding
                h1.site-title
                    a(href='/' rel='home') Convertisseur
                h2.site-description Besoin de convertir, pas de soucis
            nav#site-navigation.main-navigation
                button.menu-toggle Menu
                a.skip-link.screen-reader-text(href='/') Aller au contenu
                .menu-menu-1-container
                    ul#menu-menu-1.menu.nav-menu
                        li
                            a(href='/') Home
                        li
                            a(href='/') Convertisseurs
                            ul.sub-menu
                                li
                                    a(href='/jpg') PNG vers JPG
                                li
                                    a(href='/png') JPG vers PNG
                                li
                                    a(href='/csv') JSON vers CSV
                                li
                                    a(href='/gif') MP4 vers GIF
                                li
                                    a(href='/fusion') Fusionner des PDF
    body
        .header
            .main
                .home-title
                    h1.title Voici l'outil vous permettant de transformer vos fichiers .webp en fichier .png
                    h2.subtitle
                        |  Pour utiliser cet outil c'est très simple, veuillez cliquer sur le bouton ci-dessous ensuite choisissez le fichier à convertir (on ne peut qu'en convertir un par un), puis attendez quelques secondes (plus le fichier est volumineux, plus l'attente est longue), ensuite vous recevez votre fichier convertit. Vous pouvez de nouveau re-convertir un fichier ou alors allez voir un de nos autres outils de conversion.
                .form__tools
                    .form__container
                        form#upload(action='/webp', method='POST', enctype='multipart/form-data')
                            label#pickfiles.uploader__btn(for='fileUpload' title='Ajouter un fichier')
                                svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' stroke-linecap='round' stroke-width='2' stroke='#fff' fill='none' stroke-linejoin='round')
                                    desc Téléchargez votre fichier et transformez-le.
                                    path(d='M10 1.833v16.333')
                                    path(d='M1.833 10h16.333')
                                    span Sélectionner le fichier WEBP
                            input#fileUpload(type='file', name='fileUpload' onchange='this.form.submit()', hidden='' accept='.webp')
    footer#colophon.site-footer
        .container
            .site-info
                h1(style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;") Convertisseur
                a(target='blank' href='/') © Convertisseur - Site by LysnakeIT